@model Maets.Models.Dtos.Reviews.ReviewReadDto

@{
    ViewData["Title"] = "Review";
    Layout = "Store/_Layout";
}

<h1>@Model.Title - @($"{Model.App.Title} review")</h1>
<div class="info-wrapper">
    <p>Author: @Model.Author.UserName</p>
    <P>Score: @Model.Score</p>
    <p>Posted: @Model.CreationDate.ToString("d")</p>
</div>
<div class="content-wrapper">
    @Html.Raw(Model.Description)
</div>
