@page
@model Maets.Pages.HomePage

@{
    ViewData["Title"] = "Home";
}

<form asp-page="/store/search" method="get" class="my-3">
    <div class="input-group">
        <input name="Query" type="search" id="search-field" class="form-control"/>
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
    </div>
</form>

<h1>Top apps</h1>

<div class="carousel-wrapper">
    <div id="topAppsCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#topAppsCarousel" data-bs-slide-to="0" class="active"></button>
            @for (int i = 1; i < Model.TopApps.Count; ++i)
            {
                <button type="button" data-bs-target="#topAppsCarousel" data-bs-slide-to="@i"></button>
            }
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a asp-page="/store/app" asp-route-id="@Model.TopApps.First().Id">
                    <img class="d-block w-100" src="@Model.TopApps.First().MainImageUrl" alt="app">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>@Model.TopApps.First().Title</h5>
                </div>
            </div>
            @foreach (var app in Model.TopApps.Skip(1))
            {
                <div class="carousel-item">
                    <a asp-page="/store/app" asp-route-id="@app.Id">
                        <img class="d-block w-100" src="@app.MainImageUrl" alt="app">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@app.Title</h5>
                    </div>
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#topAppsCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#topAppsCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<h1>New releases</h1>
@foreach (var app in Model.NewReleases)
{
    <partial name="Components/_AppCardPartial" model="app"/>
}

<h1>Upcoming releases</h1>
@foreach (var app in Model.UpcomingReleases)
{
    <partial name="Components/_AppCardPartial" model="app"/>
}
